/* Add this CSS code to the style.css file */

/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@1,200&display=swap');
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: #f1f1f1;
  }
  
  h1, h2, h3 {
    margin: 0;
  }
  
  p {
    margin: 0 0 1em;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  /* Header */
  header {
    background-color: black;
    padding: 20px;
  }
  
  nav ul {
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #fff;
    font-size: 16px;
  }
  
  /* Home Section */
  #home {
    background-color: black;
    text-align: center;
    padding: 100px;
    color: #fff;
  }
  #home h1 {
    font-family: 'Ysabeau Infant', sans-serif;
    font-size: 100px;
  }
  
  .cta-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    border-radius: 4px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #0056b3;
  }
  
  /* About Section */
  #about {
    padding: 50px;
    background-color: #fff;
  }
  
  /* Projects Section */
  #projects {
    padding: 50px;
    background-color: #f9f9f9;
  }
  
  .project {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .project img {
    height: 500px;
    width: 1000px;
  }
  
  .project h3 {
    margin-top: 0;
  }
  
  .project p {
    margin: 10px 0;
  }
  
  .project a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .project a:hover {
    background-color: #0056b3;
  }
  
  /* Skills Section */
  #skills {
    padding: 50px;
    background-color: #fff;
  }
  
  #skills ul {
    display: flex;
    flex-wrap: wrap;
  }
  
  #skills li {
    margin-right: 20px;
    margin-bottom: 10px;
  }
  
  /* Experience Section */
  #Certifications {
    padding: 50px;
    background-color: #f9f9f9;
  }
  
  .Certifications-item {
    margin-bottom: 30px;
  }
  
  .Certifications-item h3 {
    margin-top: 0;
  }
  
  .Certifications-item p {
    margin: 10px 0;
  }
  
  .Certifications-item ul {
    margin-left: 20px;
  }
  
  /* Contact Section */
  #contact {
    padding: 50px;
    background-color: #fff;
  }
  
  /* Footer */
  footer {
    background-color: #333;
    padding: 20px;
    color: #fff;
    text-align: center;
  }
  
